@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header {
        text-align: center;
        padding: 0;
    }
    header h1 {
        overflow: auto;
        float: none;
        font-size: 2rem;
    }
    header img {
        width: auto;
        height: auto;
        float: left;
    }
    nav {
        margin-top: 0px;
        clear: left;
    }
    /* hamburger button does not need to be shown */
    .hamburger {
        display: none;
    }
    .navigation {
        margin: 0px;
        overflow: hidden;
        width: 100%;
        background-color: #3c8ed2;
        margin-left: 0;
        padding: 0;
    }

    .navigation li {
        display: inline-block;
        border-bottom: none;
    }
    .navigation li a {
        text-align: center;
        padding: 14px 16px;
        display: block;	
        color: #fff;	
        padding: 14px 16px; 
        text-align: center;	
        text-decoration: none;
    }
    .navigation li.active a{
        color: #191919;
        background-color: #b1d1ed;
    }
    .navigation li a:hover{
        background-color: #555;
        color: #fff;
    }
    main {
        clear: both;
    }
    main figure img {
        display: block;
        margin: 0;
        width:100%
    }
    section {}
    .current {
        width: 200px;
    }
    .highlow {
        display: inline-block;
        width: 150px;
        height: 100px;
        margin: 1em;
        float: right;
    }
    .conditions {
        display: inline-block;
        width: 150px;
        height: 100px;
        margin: 1em;
        float:right;
    }
    .forecast {
        margin-left: 5%;
        margin-right: 5%;
        display: block;
    }
    .forecast h3{
        float: left;
    }

    table,
    th,
    td,
    thead,
    tbody {
        border: 1px solid #000;
        clear: both;
        width: auto;
        margin: auto;
        border-collapse: collapse;
        padding: 0.45rem;
        float: none;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
    }
    article p{
        overflow: auto;
    }
    /* responsive images */
}