@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header {
        text-align: center;
        padding: 0;
    }
    header h1 {
        overflow: auto;
        float: none;
        font-size: 2rem;
    }
    header img {
        width: auto;
        height: auto;
        float: left;
    }
    nav {
        margin-top: 0px;
        clear: left;
    }
    /* hamburger button does not need to be shown */
    nav button {
        display: none;
    }
    nav ul {
        margin: 0px;
        overflow: hidden;
        width: 100%;
    }

    nav ul li {
        display: inline-block;
        border-bottom: none;
    }
    nav ul li a {
        text-align: center;
        padding: 14px 16px;
    }
    main {
        clear: both;
    }
    main figure img {
        height: auto;
        display: block;
    }
    section {}
    .current {
        width: 320px;
    }
    .highlow {
        display: inline-block;
        width: 420px;
        height: 100px;
        margin: 1em;
    }
    .conditions {
        display: inline-block;
        width: 420px;
        height: 100px;
        margin: 1em;
    }
    .forecast {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
    th {
        display: table-cell;
    }
    tr {
        display: table-row;
    }
    td {
        display: table-cell;
    }
    thead {
        display: table-header-group;
    }
    tbody {
        display: table-row-group;
    }
    table,
    th,
    td,
    thead,
    tbody {
        border: 1px solid #fff;
        clear: both;
        width: auto;
    }
    th,
    td {
        padding: -15px;
    }
    tbody {
        float: none;
    }
    thead {
        float: none;
    }

    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
    }
    /* responsive images */
}